<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalprep2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_bulb"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_bulb_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalPrep2">
        <activity
            android:name=".activities.DogEditActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ListPlusDB"
            android:exported="true">

        </activity>
        <activity
            android:name=".activities.GridActivity"
            android:exported="true"></activity>
        <activity
            android:name=".DBActivity1"
            android:exported="true" />
        <activity
            android:name=".activities.MainActivity3"
            android:exported="false" />
        <activity
            android:name=".activities.MainActivity2"
            android:exported="true" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="true" />
    </application>

</manifest>